<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Hoho.Android.UsbSerial.Example">
	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="28" />
	<application android:label="USB Serial Example" android:icon="@drawable/icon"></application>
</manifest>